*
{
  box-sizing: border-box;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body 
{
  padding-top: 50px;
  background-color: #0a0614;
}



/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top 
{
  padding: 0px;
  background-color: black;
}
.navbar-header
{
  width: 100px;
  margin-top: 1px;
  margin-bottom: 0px;
}
.navbar-header h4
{
  font-size: 27px;
  font-family: 'Piedra', cursive;
  color: white;
  padding: 0px;
}
.nav-con
{
  float: right;
}
.nav-con ul 
{
  display: inline;
  list-style: none;
  text-decoration: none;
  color: white;
}
.nav-con ul li
{
  float: left;
  padding: 14px;
}
.nav-con ul li a
{
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: 'Piedra', cursive;
  padding: 18px;
}
.nav-con ul li a:hover
{
  background-color: grey;
}
/*
 * Sidebar
 */
.sidebar 
{
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    background-color: #a903fc;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
}

/* Sidebar navigation */
.nav-sidebar 
{
  margin: 0px;
  margin-top: 50px;
}
.nav-sidebar  li a 
{
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: white;
  font-size: 20px;
  font-family: 'Piedra', cursive;
}
.nav-sidebar  li a i
{
  margin-right: 10px;
}
.nav-sidebar  li a:hover
{
  background-color: #7300ff;
}
.nav-sidebar  li a:focus
{
  background-color: #7300ff;
}
/*
 * Main content
 */

.main 
{
  padding: 30px;
}

.main .page-header 
{
  margin-top: 0;
  background-color: rgb(60, 60, 60);
  padding: 20px;
  color: white;
  border-radius: 27px;
}
.main table
{
  width: 100%;
}
.main thead tr
{
  font-size: 20px;
  color: white;
  font-family: 'IBM Plex Serif', serif;
}
.main tbody tr
{
  background-color: white;
  font-family: 'IBM Plex Serif', serif;
}
.main tbody .spacer
{
  height: 20px;
}
.main thead th
{
  padding: 10px;
  text-align: center;
}
.main tbody td
{
  padding: 21px;
  font-size: 15px;
  text-align: center;
}
.main tbody td a
{
  text-decoration: none;
  padding: 12px;
  background-color: blue;
  color: white;
  font-size: 15px;
  border-radius: 27%;
}
.main .arcup
{

  background-color: grey;
}




@media only screen and (max-width: 1141px)
{
  .nav-sidebar  li a 
  {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1000px)
{
    .nav-sidebar  li a 
    {
      font-size: 18px;
    }
    .main .page-header 
    {
      font-size: 30px;
    }
    .form-signin 
    {
      width: 80%;
      font-size: 18px;
    }
}
@media only screen and (max-width: 767px)
{
  .sidebar 
  {
    width: 100%;
    height: 30px;
    position: static;
  }
  .sidebar .page-header
  {
    display: none;
  }
  .nav-sidebar 
  {
    margin: 0px;
    margin-top: -30px;
    height: 30px;
    padding: 30px;

  } 
  .nav-sidebar li a 
  {
    float: left;
    padding: 0px;
    margin-left: 3px;
    margin-top: -6px;
    width: 90px;
    text-align: center;
    font-size: 15px;
  }
  .nav-sidebar  li a i
  {
    display: none;
  }
  .nav-sidebar li a:hover
  {
    background-color: transparent;
  }
  .nav-sidebar  li a:focus
  {
    background-color: transparent;

  }
  .navbar-fixed-top 
  {
    padding: 0px;
    background-color: black;
  }
  .navbar-header
  {
    float: left;
  }
  .navbar-header h4
  {
    margin-left: 30px;
    font-size: 24px;
  }
  .nav-con
  {
    float: right;
  }
  .nav-con ul li a
  {
    font-size: 13px;
  }
  .main .page-header 
  {
    font-size: 20px;
  }
  .main thead tr
  {
    font-size: 10px;
  }
  .main tbody td
  {
    font-size: 10px;
  }
  .main tbody td a
  {
    font-size: 10px;
  }
}
@media only screen and (max-width: 430px)
{
  .main .page-header 
  {
    font-size: 17px;
  }
  .nav-sidebar li a 
  {
    font-size: 12px;
    width: 65px;
  }
}